<div id="users-panel" class="panel panel-info">
    <div class="panel-heading">Users panel</div>

    <div class="panel-body">
        <p class="pull-left">List of users</p>

        <button type="button" class="js-user-create btn btn-primary pull-right">Create user</button>
    </div>

    <table></table>
</div>
