<div id="users-panel" class="panel panel-danger">
    <div class="panel-heading">Users panel</div>

    <div class="panel-body">
        <p class="text-center">Users fetching failed!</p>
    </div>
</div>
