<form>
    <div class="form-group">
        <label class="control-label" for="userName">Name</label>
        <input type="text" id="userName" name="name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label class="control-label" for="userEmail">Email address</label>
        <input type="email" id="userEmail" name="email" class="form-control" placeholder="Email">
    </div>

    <div class="text-right">
        <button type="submit" class="js-user-submit btn btn-primary"><%- isCreate ? "Create" : "Edit" %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>
