<div id="users-panel" class="panel panel-info">
    <div class="panel-heading">Users panel</div>

    <div class="panel-body">
        <button type="button" class="js-user-create btn btn-primary pull-right">Create user</button>

        <p>List of users</p>

        <strong>Users total: <span class="js-users-total"><%- total %></span></strong>
    </div>

    <table></table>

    <div id="panel-footer-region"></div>
</div>
